<template>
        <div class="row justify-content-center mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Welcome to AcaReg!!</div>

                    <div class="card-body">
                        Student manangement system
                    </div>
                </div>
            </div>
        </div>
    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
