<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Our Running Semesters</h3>
                
                <div class="card-tools">
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-success" @click="addsem">
                    <i class="fa fa-file"></i> &nbsp New Semester
                  </button>
                  <button type="button" class="btn btn-success" @click="addsession">
                    <i class="fa fa-file"></i> &nbsp New Session
                  </button>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Batch</th>
                    <th>Semester</th>
                    <th>Started From</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="session in sessions" :key="session.id">
                    <td>{{session.id}}</td>
                    <td>{{session.batch.enrolled_year}}</td>
                    <td>{{session.semester.semester}}</td>
                    <td>{{session.created_at}}</td>
                    <td>                        
                        <span class="badge bg-success">
                          <router-link :to="{ name: 'batchstudents', params: {year: session.batch.enrolled_year, id:session.batch.id } }">Students</router-link>
                        </span>
                        <span class="badge bg-primary"><router-link :to="{name: 'semestercourse', params:{id:session.id}}">Course</router-link></span>
                        <span class="badge bg-warning"><router-link :to="{name: 'examtobe', params:{id:session.id}}">Exams</router-link></span>
                    </td>
                    <td>
                        <span class="badge bg-primary"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                    </td>
                  </tr>


                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="addsem" tabindex="-1" role="dialog" aria-labelledby="addsemTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Semester</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="semestermanager" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                      <div class="form-group">
                        <input v-model="form.semester" type="text" name="semester" id="semester"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('semester') }" placeholder="Enter Semester.">
                        <has-error :form="form" field="semester"></has-error>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            
            <div class="modal fade" id="addsession" tabindex="-1" role="dialog" aria-labelledby="addsessionTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Session</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="sessionmanager" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                     
                        <div class="form-group">
                          <label for="batch_id">Select Batch</label>
                            <select v-model="form.batch_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('batch_id') }" name="batch_id" id="batch_id">
                            
                              <option  v-for="batch in batches" :key="batch.id">{{batch.id}}_{{batch.enrolled_year}}</option>

                            </select>
                            <has-error :form="form" field="batch_id"></has-error>
                        </div>

                        
                        <div class="form-group">
                          <label for="semester_id">Select Semester</label>
                            <select v-model="form.semester_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('semester_id') }" name="semester_id" id="semester_id">
                            
                              <option  v-for="semester in semesters" :key="semester.id">{{semester.id}}_{{semester.semester}}</option>

                            </select>
                            <has-error :form="form" field="semester_id"></has-error>
                        </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

        </div>
    
</template>

<script>
    export default {
      data() {
        return {
          batches: {} ,
          semesters: {},
          sessions:{},
          form: new Form({
            semester : '', batch_id:'', semester_id:''
          })
        }
      },

        methods: {

          addsem(){
            this.form.reset();
            $('#addsem').modal('show');
          },

          addsession(){
            this.form.reset();
            $('#addsession').modal('show');
          },

          loadbatch(){
            axios.get('/loadbatch').then(({ data }) => (this.batches = data));
          },

          loadsemester(){
            axios.get('/semesters').then(({ data }) => (this.semesters = data));
          },

          loadsession(){
            axios.get('/sessions').then(({ data }) => (this.sessions = data));
          },

          semestermanager(){
            this.$Progress.start();
            this.form.post('/semesters').then(()=>{
              Fire.$emit('updatetable');          
              $('#addsem').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Semester Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          },

          sessionmanager(){
            this.$Progress.start();
            this.form.post('/sessions').then(()=>{
              Fire.$emit('updatetable');          
              $('#addsession').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Session Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          }
            
        },

      created() {
        this.loadsession();
        this.loadbatch();
        this.loadsemester();
        Fire.$on('updatetable',()=>{
          this.loadsession();
          this.loadsemester();
        })
      }
    }
</script>
