<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Course on  Semesters</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Couse title</th>
                    <th>Course</th>
                    <!-- <th>Taught By</th> -->
                    <!-- <th>Action</th> -->
                  </tr>

                  <tr  v-for="session in courses" :key="session.id">
                    <td>{{session.id}}</td>
                    <td>{{session.subject_code}}</td>
                    <td>{{session.subject}}</td>
                    <!-- <td>   

                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Mark</td>
                            <td>
                              <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>
                        <span class="badge bg-success"  @click="addteacher(session.id)"><i class="fas fa-user-plus"></i></span>
                    </td> -->
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Student Modal -->
            <div class="modal fade bd-example-modal-lg" id="addteacher" tabindex="-1" role="dialog" aria-labelledby="addteacherTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Teacher Assignment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="studentmanager()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">

                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="staff_id">Select Teacher</label>
                            <select v-model="form.staff_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('staff_id') }" name="staff_id" id="staff_id">
                            
                              <option  v-for="teacher in teachers" :key="teacher.id">{{teacher.id}}_{{teacher.person.fname}}</option>

                            </select>
                            <has-error :form="form" field="staff_id"></has-error>
                        </div>
                      
                      </div>
                  
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

        </div>
    
</template>

<script>
    export default {
        props :[
            'id'
        ],
      data() {
        return {
          courses:{},
          teachers:{},
            form: new Form({
              staff_id:'',
              session_id:this.id,
              course_id:'',

          })
        }
      },

        methods: {
        addteacher(id){
          this.form.reset();
          this.form.clear();
          this.form.course_id = id;
          $('#addteacher').modal('show');
        },

        studentmanager()
        {
          this.$Progress.start();
          this.form.post('/teachers').then(()=>{
              Fire.$emit('updatetable');          
              $('#addteacher').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Teacher Assigned.'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();

        },


        getsemcourse(){
          axios.get('/getsemcourse/'+this.id).then(({ data }) => (this.courses = data));
        },

        getteachers(){
          axios.get('/teachers').then(({ data }) => (this.teachers = data));
        },

            
        },

        created() {
          this.getsemcourse();
          this.getteachers();
        }
    }
</script>
