<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card">
              <div class="card-header">
                <h3 class="card-title">Our All Students</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>SN</th>
                    <th>Student Name</th>
                    <th>E-mail</th>
                    <th>Contact</th>
                    <th>Section</th>
                    <th>Batch</th>
                    <th>Roll No</th>
                    <th>View</th>
                  </tr>

                  <tr v-for="student in students" :key="student.id" >
                    <td>{{student.id}}</td>
                    <td>{{student.person.fname}} {{student.person.mname}} {{student.person.lname}}</td>
                    <td>{{student.person.email}}</td>
                    <td>{{student.person.contact}}</td>
                    <td>{{student.section.section_name}}</td>
                    <td>{{student.batch.enrolled_year}}</td>
                    <td>{{student.id}}</td>
                    <td>
                        <span class="badge bg-info">
                           <router-link :to="{ name: 'studentinfo', params: {id:student.id } }">
                             <i class="fas fa-eye"></i>
                           </router-link>
                        </span>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>
        </div>
    
</template>

<script>
    export default {
      data(){
        return{
          students:{},
        }

      },

       methods:{
         loadstudent()
         {
            axios.get('/students').then(({ data }) => (this.students = data));
         },

       },
        mounted() {
             this.loadstudent();
        }
    }
</script>
