<template> 
          <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="../../../public/img/default.jpg" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{students.person.fname}} {{students.person.mname}} {{students.person.lname}}</h3>

                <p class="text-muted text-center">{{students.batch.enrolled_year}}/{{students.id}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Section</b> <a class="float-right">{{students.section.section_name}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Contact</b> <a class="float-right">{{students.person.contact}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>E-mail</b> <a class="float-right">{{students.person.email}}</a>
                  </li>
                </ul>
                <router-link :to="{ name: 'studentmarks', params: {id:students.id } }" class="btn btn-primary btn-block">
                  <b>Marks</b>
                </router-link>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            </template>

<script>
  export default {
        mounted() {
            console.log('Component mounted.')
        
        }
    }
</script>