<template> 
    <div class="row mt-4">
          <div class="col-md-3">

            
          <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <router-link :to="{ name: 'studentinfo', params: {id:students.id } }">
                    <img v-if="students.person.img" class="profile-user-img img-fluid img-circle" :src="'/'+students.person.img" alt="User profile picture">
                    <img v-else class="profile-user-img img-fluid img-circle" src="../../../public/img/user.jpg" alt="User profile picture">
                  </router-link>

                </div>
                  <h3 class="profile-username text-center">
                    {{students.person.fname}} {{students.person.mname}} {{students.person.lname}}
                </h3>
                <p class="text-muted text-center">{{students.batch.enrolled_year}}/{{students.id}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Section</b> <a class="float-right">{{students.section.section_name}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Contact</b> <a class="float-right">{{students.person.contact}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>E-mail</b> <a class="float-right">{{students.person.email}}</a>
                  </li>
                </ul>
                <router-link :to="{ name: 'studentmarks', params: {id:students.id } }" class="btn btn-primary btn-block">
                  <b>Marks</b>
                </router-link>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->



          <!-- <student-bar/> -->

          </div>

          <!-- /.col -->
          <div class="col-md-9">

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About {{students.person.fname}} </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fa fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  SLC : {{students.slc_marks}}% / {{students.slc_batch}}
                  <br>
                  +2 : {{students.intermediate_marks}}% / {{students.intermediate_batch}}
                </p>

                <hr>

                <strong><i class="fa fa-map-marker mr-1"></i> Location</strong>

                <p class="text-muted">permanent :{{students.p_address}} <br> Temprory:{{students.t_address}}</p>

                <hr>

                <strong><i class="fas fa-shield-alt mr-1"></i> Gurdgain</strong>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <tbody><tr>
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Relation</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Action</th>
                          </tr>

                          <tr v-for="(guard, idx) in students.guardgain" :key="idx">
                            <td>{{guard.id}}</td>
                            <td>{{guard.person_id}}</td>
                            <td>{{guard.relation}}</td>
                            <td>contact Number</td>
                            <td>{{guard.address}}</td>
                            <td>
                              <span class="badge bg-warning"><i class="fas fa-edit"></i></span>
                              <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                            </td>
                          </tr>

                         
                        </tbody></table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9">
                  </div>
                  <div class="col-md-3">
                        <button type="button" class="btn btn-primary" @click="addgurard()">
                    <i class="fa fa-user-plus"></i> &nbsp Add Gurdgain
                  </button>
                  </div>
                </div>

            </div>
              <!-- /.card-body -->
            </div>

          </div>
          <!-- /.col -->

          
            <!-- Guardgain Modal -->
            <div class="modal fade bd-example-modal-lg" id="addgurard" tabindex="-1" role="dialog" aria-labelledby="addgurardTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Gurdgain of {{students.person.fname}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="guardmanager({id})" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
          
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="fname">First Name</label>
                            <input v-model="form.fname" type="text" name="fname" id="fname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('fname') }" placeholder="Enter First Name.">
                            <has-error :form="form" field="fname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="mname">Middle Name</label>
                            <input v-model="form.mname" type="text" name="mname" id="mname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('mname') }" placeholder="Enter Middle Name.">
                            <has-error :form="form" field="mname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lname">Family Name</label>
                            <input v-model="form.lname" type="text" name="lname" id="lname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('lname') }" placeholder="Enter Last Name.">
                            <has-error :form="form" field="lname"></has-error>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="contact">Contact</label>
                            <input v-model="form.contact" type="number" name="contact" id="contact"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('contact') }" placeholder="Enter Contact Number.">
                            <has-error :form="form" field="contact"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">E-mail</label>
                            <input v-model="form.email" type="email" name="email" id="email"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="Enter Email Address.">
                            <has-error :form="form" field="email"></has-error>
                        </div>

                        <div class="form-group col-md-12">
                          <label for="citizenship">Citizenship No.</label>
                            <input v-model="form.citizenship" type="text" name="citizenship" id="citizenship"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('citizenship') }" placeholder="Enter Citizenship Number.">
                            <has-error :form="form" field="citizenship"></has-error>
                        </div>
                      </div>
                       <hr>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="relation">Relationship</label>
                            <input v-model="form.relation" type="text" name="relation" id="relation"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('relation') }" placeholder="Enter Relation With Student.">
                            <has-error :form="form" field="relation"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="address"> Address</label>
                            <input v-model="form.address" type="text" name="address" id="address"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('address') }" placeholder="Enter Address.">
                            <has-error :form="form" field="address"></has-error>
                        </div>
                      </div>
                  
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
</template>

<script type="text/javascript">

      // import  StudentBar  from './studentbar'

    export default {
        props :[
            'id'
        ],
        data()
        {
          return{
              students:{},

              form: new Form({

                section_name :'',

                fname:'', mname:'', lname:'', contact:'', email:'', citizenship:'',

                address:'', relation:'', student_id:''

              })
                
            }
        },

        methods:{
          
          addgurard(){
            this.form.reset();
            this.form.clear();
            $('#addgurard').modal('show');
          },

          loaddetails(){
            axios.get('/studentdetails/'+this.id).then(({ data }) => (this.students = data));
          },

          guardmanager(id){
            this.$Progress.start();
            this.form.post('/saveguard/'+id.id).then(()=>{
              Fire.$emit('updatetable');          
              $('#addgurard').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Gurdgain Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
      
          },
        },

        components:{
          // StudentBar
        },

        mounted() {
            this.loaddetails();

            Fire.$on('updatetable',()=>{
              this.loaddetails();
            })
        }
    }
</script>

