<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Section List for <b>{{info.enrolled_year}}</b> batch <b>{{info.semester}}</b> </h3>
                
                <div class="card-tools">
        
                  <button type="button" class="btn btn-primary" @click="addSection()">
                    <i class="fa fa-user-plus"></i> &nbsp Add New Section
                  </button>

                </div>

              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Section Name</th>
                    <th>Total Students</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="section in sections" :key="section.id" >
                    <td>{{section.id}}</td>
                    <td>{{section.section_name}}</td>
                    <td>108</td>
                    <td>
                        <span class="badge bg-warning" @click="editsection(section)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger" @click="deletesection(section.id)"><i class="fas fa-trash"></i></span>
                        <span class="badge bg-info">
                           <router-link :to="{ name: 'sectionstudent', params: {section: section.id } }">
                             <i class="fas fa-eye"></i>
                           </router-link>
                        </span>
                    </td>
                  </tr>

                </tbody>
              </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Section Modal -->
            <div class="modal fade" id="addSection" tabindex="-1" role="dialog" aria-labelledby="addSectionTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" v-show="!editmode">Add New Section for {{info.enrolled_year}}</h5>
                    <h5 class="modal-title" id="exampleModalLongTitle" v-show="editmode">Edit Section for {{info.enrolled_year}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="editmode ? updatesection() : sectionmanager()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                     
                      <div class="form-group">
                        <input v-model="form.section_name" type="text" name="section_name" id="section_name"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('section_name') }" placeholder="Enter Section Name.">
                        <has-error :form="form" field="section_name"></has-error>
                      </div>

                    </div>

                    <div class="modal-footer"> 
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" v-show="!editmode">Save</button>
                      <button type="submit" class="btn btn-success" v-show="editmode">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



        </div>
    
</template>

<script>
    export default {
        props :[
            'batch'
        ],
      data() {
        return {

          editmode : false,

          sections: {},
          info:{},
          course:{},
          msg:{},
          form: new Form({

            section_name :'',
            
            id:'',
          })
        }
      },

        methods: {
          
        addSection(){
          this.editmode = false;
          this.form.reset();
          this.form.clear();
          $('#addSection').modal('show');
        },       

          editsection(batch){
            this.editmode = true;
            this.form.reset();
            $('#addSection').modal('show');
            this.form.fill(batch);
          },


          loadsections(){
            axios.get('/section/'+this.batch).then(({ data }) => (this.sections = data));
          },

          loadinfo(){
              axios.get('/batch/'+this.batch).then(({ data }) => (this.info = data));
          },

          
        sectionmanager()
        {
          this.$Progress.start();
          this.form.post('/section/'+this.batch)
                  .then(({ data }) => (this.msg = data))
                  .then(()=>{
                    Fire.$emit('updatetable');          
                    $('#addSection').modal('hide');
                    Toast.fire({
                      type: 'success',
                      title: this.msg,
                    });               
                  }).catch(()=>{
                    this.$Progress.fail();
                  });
                this.$Progress.finish();
        },

        updatesection()
        {
          this.$Progress.start();
          this.form.put('/section/'+this.form.id).then(()=>{
              Fire.$emit('updatetable');          
              $('#addSection').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Section Updated.'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
        },

        deletesection(id)
        {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                this.form.delete('/section/'+id).then(()=>{
                   Fire.$emit('updatetable');          
                  if (result.value) {
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                  }
                })


            })
        }

            
        },

      created() {
        this.loadsections();
        this.loadinfo();

        
        Fire.$on('updatetable',()=>{
          this.loadsections();
        })
      }
    }
</script>
