<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card">
              <div class="card-header">
                <h3 class="card-title">Batch Students {{info.enrolled_year}} Section: {{students[0].section.section_name}}</h3>
                
                <div class="card-tools">
           

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Contact No.</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="student in students" :key="student.id" >
                    <td>{{student.id}}</td>
                    <td>{{student.person.fname}} {{student.person.mname}} {{student.person.lname}}</td>
                    <td>{{student.person.email}}</td>
                    <td>{{student.person.contact}}</td>
                    <td>
                        <span class="badge bg-warning" @click="editstudent(student,student.person)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger" @click="deleteStudent(student.id)"><i class="fas fa-trash"></i></span>
                        <span class="badge bg-info">
                           <router-link :to="{ name: 'studentinfo', params: {id:student.id } }">
                             <i class="fas fa-eye"></i>
                           </router-link>
                        </span>
                    </td>
                  </tr>

                </tbody>
              </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

       
            <!-- Student Modal -->
            <div class="modal fade bd-example-modal-lg" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudentTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5  class="modal-title" id="exampleModalLongTitle">Update Sudent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="updatestudent()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
          
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="fname">First Name</label>
                            <input v-model="form.fname" type="text" name="fname" id="fname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('fname') }" placeholder="Enter First Name.">
                            <has-error :form="form" field="fname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="mname">Middle Name</label>
                            <input v-model="form.mname" type="text" name="mname" id="mname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('mname') }" placeholder="Enter Middle Name.">
                            <has-error :form="form" field="mname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lname">Family Name</label>
                            <input v-model="form.lname" type="text" name="lname" id="lname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('lname') }" placeholder="Enter Last Name.">
                            <has-error :form="form" field="lname"></has-error>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="contact">Contact</label>
                            <input v-model="form.contact" type="number" name="contact" id="contact"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('contact') }" placeholder="Enter Contact Number.">
                            <has-error :form="form" field="contact"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">E-mail</label>
                            <input v-model="form.email" type="email" name="email" id="email"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="Enter Email Address.">
                            <has-error :form="form" field="email"></has-error>
                        </div>

                        <div class="form-group col-md-12">
                          <label for="citizenship">Citizenship No.</label>
                            <input v-model="form.citizenship" type="text" name="citizenship" id="citizenship"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('citizenship') }" placeholder="Enter Citizenship Number.">
                            <has-error :form="form" field="citizenship"></has-error>
                        </div>
                      </div>
                       <hr>

                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="slc_symbol">SLC Symbol No.</label>
                            <input v-model="form.slc_symbol" type="number" name="slc_symbol" id="slc_symbol"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('slc_symbol') }" placeholder="Enter SLC symbol Number.">
                            <has-error :form="form" field="slc_symbol"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="slc_marks">SLC Marks</label>
                            <input v-model="form.slc_marks" type="number" name="slc_marks" id="slc_marks"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('slc_marks') }" placeholder="Enter SLC Marks.">
                            <has-error :form="form" field="slc_marks"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="slc_batch">SLC Batch</label>
                            <input v-model="form.slc_batch" type="number" name="slc_batch" id="slc_batch"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('slc_batch') }" placeholder="Enter SLC batch.">
                            <has-error :form="form" field="slc_batch"></has-error>
                        </div>
                      </div>
          
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="intermediate_symbol">+2 Symbol No.</label>
                            <input v-model="form.intermediate_symbol" type="number" name="intermediate_symbol" id="intermediate_symbol"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('intermediate_symbol') }" placeholder="Enter +2 symbol Number.">
                            <has-error :form="form" field="intermediate_symbol"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="intermediate_marks">+2 Marks</label>
                            <input v-model="form.intermediate_marks" type="number" name="intermediate_marks" id="intermediate_marks"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('intermediate_marks') }" placeholder="Enter +2 Marks.">
                            <has-error :form="form" field="intermediate_marks"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="intermediate_batch">+2 Batch</label>
                            <input v-model="form.intermediate_batch" type="number" name="intermediate_batch" id="intermediate_batch"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('intermediate_batch') }" placeholder="Enter +2 batch.">
                            <has-error :form="form" field="intermediate_batch"></has-error>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="section_id">Select Section</label>
                            <select v-model="form.section_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('section_id') }" name="section_id" id="section_id">
                            
                              <option  v-for="section in sections" :key="section.id">{{section.id}}_{{section.section_name}}_{{info.id}}</option>

                            </select>
                            <has-error :form="form" field="section_id"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="p_address">Permanent Address</label>
                            <input v-model="form.p_address" type="text" name="p_address" id="p_address"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('p_address') }" placeholder="Enter Permenent Address.">
                            <has-error :form="form" field="p_address"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="t_address">Temperory Address</label>
                            <input v-model="form.t_address" type="text" name="t_address" id="t_address"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('t_address') }" placeholder="Enter Temperory Address.">
                            <has-error :form="form" field="t_address"></has-error>
                        </div>
                      </div>
                  
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>


        </div>
    
</template>

<script>
    export default {
      
      props:[
        'section',
      ],

      data() {
        return {
          sections: {},
          students:{},
          info:{},
          form: new Form({
            section_id:'',
            
            id:'',

            fname:'', mname:'', lname:'', contact:'', email:'', citizenship:'',

            slc_batch:'', intermediate_marks:'', slc_marks:'', intermediate_batch:'', slc_symbol:'', intermediate_symbol:'', t_address:'', p_address:'', section_id:'',

          })
        }
      },

      methods:{


        
        editstudent(student,person){   
            Object.assign(person,student);
            this.form.reset();
            this.form.clear();
            $('#addStudent').modal('show');
            this.form.fill(person);
        },

          deleteStudent(id)
          {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                this.form.delete('/batch/'+id).then(()=>{
                  if (result.value) {
                    Fire.$emit('updatetable');          
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                  }
                })


            })
          },


       loadsection(){
        axios.get('/getsection/'+this.section).then(({ data }) => (this.sections = data));
        },

        
       loadinfo(){
        axios.get('/loadsectioninfo/'+this.section).then(({ data }) => (this.info = data));
        },


       loadstudent()
       {
       axios.get('/showsectionstd/'+this.section).then(({ data }) => (this.students = data));
      },

        studentmanager()
        {
          this.$Progress.start();
          this.form.post('/students').then(()=>{
              Fire.$emit('updatetable');          
              $('#addStudent').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Student Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
        },

        updatestudent()
        {
          this.$Progress.start();
          this.form.put('/students/'+this.form.id).then(()=>{
              Fire.$emit('updatetable');          
              $('#addStudent').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Student Updated.'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
        },

      },
        mounted() {
          this.loadstudent();
          this.loadsection();
          this.loadinfo();

        Fire.$on('updatetable',()=>{
          this.loadstudent();
        })
          
            console.log('Component mounted.')
        }
    }
</script>
