<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Our Staffs</h3>
                
                <div class="card-tools">
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-success" @click="addstaff">
                    <i class="fa fa-file"></i> &nbsp New Staff
                  </button>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Contact Number</th>
                    <th>Degination</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="staff in staffs" :key="staff.id">
                    <td>{{staff.id}}</td>
                    <td>{{staff.person.fname}}</td>
                    <td>{{staff.person.email}}</td>
                    <td>{{staff.person.contact}}</td>
                    <td>{{staff.degination}}</td>
                    <td>
                        <span class="badge bg-primary" @click="editstaff(staff,staff.person)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger" @click="deletestaff(staff.id)"><i class="fas fa-trash"></i></span>
                    </td>
                  </tr> 


                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="addstaff" tabindex="-1" role="dialog" aria-labelledby="addstaffTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLongTitle">Add Staff</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLongTitle">Update Staff</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="editmode ? updatestaff() : staffmanager()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
          
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="fname">First Name</label>
                            <input v-model="form.fname" type="text" name="fname" id="fname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('fname') }" placeholder="Enter First Name.">
                            <has-error :form="form" field="fname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="mname">Middle Name</label>
                            <input v-model="form.mname" type="text" name="mname" id="mname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('mname') }" placeholder="Enter Middle Name.">
                            <has-error :form="form" field="mname"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="lname">Family Name</label>
                            <input v-model="form.lname" type="text" name="lname" id="lname"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('lname') }" placeholder="Enter Last Name.">
                            <has-error :form="form" field="lname"></has-error>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="contact">Contact</label>
                            <input v-model="form.contact" type="number" name="contact" id="contact"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('contact') }" placeholder="Enter Contact Number.">
                            <has-error :form="form" field="contact"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">E-mail</label>
                            <input v-model="form.email" type="email" name="email" id="email"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="Enter Email Address.">
                            <has-error :form="form" field="email"></has-error>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="citizenship">Citizenship No.</label>
                            <input v-model="form.citizenship" type="text" name="citizenship" id="citizenship"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('citizenship') }" placeholder="Enter Citizenship Number.">
                            <has-error :form="form" field="citizenship"></has-error>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="degination">Degination</label>
                            <select v-model="form.degination"  class="form-control" :class="{ 'is-invalid': form.errors.has('degination') }" name="degination" id="degination">
                            
                              <option  v-for="post in posts" :key="post.id">{{post}}</option>

                            </select>
                            <has-error :form="form" field="degination"></has-error>
                        </div>

                      </div>
                  
                    </div>


                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button v-show="!editmode" type="submit" class="btn btn-primary">Save</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

        </div>
    
</template>

<script>
    export default {
      data() {
        return {
          editmode : false,

          staffs: {} ,
          posts : {},
          form: new Form({
              fname:'', mname:'', lname:'', contact:'', email:'', citizenship:'', degination: '', id:''
          })
        }
      },

        methods: {

          addstaff(){
            this.editmode = false;
            this.form.reset();
            $('#addstaff').modal('show');
          },

          editstaff(staff, person){
            Object.assign(person,staff);       
            this.editmode = true;
            this.form.reset();
            this.form.clear();
            $('#addstaff').modal('show');
            this.form.fill(person);
          },

          loadstaff(){
            axios.get('/staffs').then(({ data }) => (this.staffs = data));
          },

          loaddegination(){
            axios.get('/staffpost').then(({ data }) => (this.posts = data));
          },

          staffmanager(){
            this.$Progress.start();
            this.form.post('/staffs').then(()=>{
              Fire.$emit('updatetable');          
              $('#addstaff').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Staff Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          },

          updatestaff(){

              this.$Progress.start();
              this.form.put('/staffs/'+this.form.id).then(()=>{
                  Fire.$emit('updatetable');          
                  $('#addstaff').modal('hide');
                  Toast.fire({
                    type: 'success',
                    title: 'Staff Updated.'
                  });              
                }).catch(()=>{
                  this.$Progress.fail();
                });
                  this.$Progress.finish();

          },

          

        deletestaff(id)
        {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                this.form.delete('/staffs/'+id).then(()=>{
                   Fire.$emit('updatetable');          
                  if (result.value) {
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                  }
                })


            })
        }
            
        },

      created() {
        this.loadstaff();
        this.loaddegination();
        Fire.$on('updatetable',()=>{
          this.loadstaff();
        })
      }
    }
</script>
