<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">All Batches from our College</h3>
                
                <div class="card-tools">
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-success" @click="addbatch">
                    <i class="fa fa-user-plus"></i> &nbsp New Batch
                  </button>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Batch</th>
                    <th>Total Students</th>
                    <th>Total Sections</th>
                    <th>In Details</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="batch in batches" :key="batch.id">
                    <td>{{batch.id}}</td>
                    <td>{{batch.enrolled_year}}</td>
                    <td>{{batch.student_no}}</td>
                    <td><span class="tag tag-success">{{batch.section_no}}</span></td>
                    <td>                        
                        <span class="badge bg-success">
                          <router-link :to="{ name: 'batchstudents', params: {year: batch.enrolled_year, id:batch.id } }">Students</router-link>
                        </span>
                        <span class="badge bg-primary"><router-link :to="{ name: 'batchsection', params: {batch: batch.id } }">Sections</router-link></span>
                    </td>
                    <td>
                        <span class="badge bg-primary" @click="editbatch(batch)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger" @click="deletebatch(batch.id)"><i class="fas fa-trash"></i></span>
                    </td>
                  </tr>


                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="addbatch" tabindex="-1" role="dialog" aria-labelledby="addbatchTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5  v-show="!editmode" class="modal-title" id="exampleModalLongTitle">Add New Batch</h5>
                    <h5 v-show="editmode" class="modal-title" id="exampleModalLongTitle">Update Batch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="editmode ? updatebatch() : batchmanager()">
                    <div class="modal-body">
                      <div class="form-group">
                        <input v-model="form.enrolled_year" v-if="editmode" type="text" name="enrolled_year" id="enrolled_year"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('enrolled_year') }" placeholder="Enter Batch." disabled>
                        <input v-model="form.enrolled_year" v-if="!editmode" type="text" name="enrolled_year" id="enrolled_year"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('enrolled_year') }" placeholder="Enter Batch.">
                        <has-error :form="form" field="enrolled_year"></has-error>
                      </div>
                      <div class="form-group">
                        <input v-model="form.student_no" type="number" name="student_no" id="student_no"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('student_no') }" placeholder="Enter Student Number.">
                        <has-error :form="form" field="student_no"></has-error>
                      </div>
                      <div class="form-group">
                        <input v-model="form.section_no" type="number" name="section_no" id="section_no"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('section_no') }" placeholder="Enter Number of Sections.">
                        <has-error :form="form" field="section_no"></has-error>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button v-show="!editmode" type="submit" class="btn btn-primary">Save</button>
                      <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

        </div>
    
</template>

<script>
    export default {
      data() {
        return {       
          editmode : false,

          batches: {} ,
          form: new Form({
            id : '',
            enrolled_year : '',
            section_no :'',
            student_no : ''
          })
        }
      },

        methods: {

          addbatch(){
            this.editmode = false;
            this.form.reset();
            $('#addbatch').modal('show');
          },

          editbatch(batch){
            this.editmode = true;
            this.form.reset();
            $('#addbatch').modal('show');
            this.form.fill(batch);
          },


          loadbatch(){
            axios.get('/batch').then(({ data }) => (this.batches = data));
          },

          batchmanager(){
            this.$Progress.start();
            this.form.post('/batch').then(()=>{
              Fire.$emit('updatetable');          
              $('#addbatch').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Batch Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          },

          updatebatch()
          {
            
            this.$Progress.start();
            this.form.put('/batch/'+this.form.id).then(()=>{
              Fire.$emit('updatetable');          
              $('#addbatch').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Batch Updated.'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();

          }
            
        },

      created() {
        this.loadbatch();
        Fire.$on('updatetable',()=>{
          this.loadbatch();
        })
      } 
    }
</script>
