<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Our Courses</h3>
                
                <div class="card-tools">
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-success" @click="addcourse">
                    <i class="fa fa-file"></i> &nbsp New Course
                  </button>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Subject Code</th>
                    <th>Subject</th>
                    <th>Semester</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="course in courses" :key="course.id">
                    <td>{{course.id}}</td>
                    <td>{{course.subject_code}}</td>
                    <td>{{course.subject}}</td>
                    <td>{{course.semester.semester}}</td>
                    <td>
                        <span class="badge bg-primary" @click="editcourse(course)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger" @click="deletecourse(course.id)"><i class="fas fa-trash"></i></span>
                    </td>
                  </tr>


                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="addcourse" tabindex="-1" role="dialog" aria-labelledby="addcourseTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLongTitle">Add Course</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLongTitle">Edit Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="editmode ? updatecourse() : coursemanager()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                      <div class="form-group">
                        <input v-model="form.subject_code" type="text" name="subject_code" id="subject_code"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('subject_code') }" placeholder="Enter subject code.">
                        <has-error :form="form" field="subject_code"></has-error>
                      </div>
                      <div class="form-group">
                        <input v-model="form.subject" type="text" name="subject" id="subject"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('subject') }" placeholder="Enter subject Name.">
                        <has-error :form="form" field="subject"></has-error>
                      </div>

                        <div class="form-group">
                          <label for="semester_id">Select Section</label>
                            <select v-model="form.semester_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('semester_id') }" name="semester_id" id="semester_id">
                            
                              <option  v-for="semester in semesters" :key="semester.id">{{semester.id}}_{{semester.semester}}</option>

                            </select>
                            <has-error :form="form" field="semester_id"></has-error>
                        </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" v-show="!editmode" class="btn btn-primary">Save</button>
                      <button type="submit" v-show="editmode" class="btn btn-success">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

        </div>
    
</template>

<script>
    export default {
      data() {
        return {
          editmode: false,
          courses: {} ,
          semesters: {},
          form: new Form({
            semester_id : '', subject:'', subject_code:'', id:''
          })
        }
      },
 
        methods: {

          addcourse(){
            this.editmode = false;
            this.form.reset();
            $('#addcourse').modal('show');
          },

          editcourse(course){
            this.editmode = true;
            this.form.reset();
            $('#addcourse').modal('show');
            this.form.fill(course);

          },

          loadcourse(){
            axios.get('/courses').then(({ data }) => (this.courses = data));
          },

          loadsemester(){
            axios.get('/semesters').then(({ data }) => (this.semesters = data));
          },

          coursemanager(){
            this.$Progress.start();
            this.form.post('/courses').then(()=>{
              Fire.$emit('updatetable');          
              $('#addcourse').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Course Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          },

          updatecourse(){
              this.$Progress.start();
              this.form.put('/courses/'+this.form.id).then(()=>{
                  Fire.$emit('updatetable');          
                  $('#addcourse').modal('hide');
                  Toast.fire({
                    type: 'success',
                    title: 'Course Name Updated.'
                  });              
                }).catch(()=>{
                  this.$Progress.fail();
                });
                  this.$Progress.finish();
          },

          
        deletecourse(id)
        {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                this.form.delete('/courses/'+id).then(()=>{
                   Fire.$emit('updatetable');          
                  if (result.value) {
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                  }
                })


            })
        },
            
        },

      created() {
        this.loadcourse();
        this.loadsemester();
        Fire.$on('updatetable',()=>{
          this.loadcourse();
        })
      }
    }
</script>
