<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Our Exam List for <b>{{info.batch.enrolled_year}}</b> batch <b>{{info.semester.semester}}</b></h3>
                
                <div class="card-tools">
        

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive pt-10">

              <div class="row">


                <div class="col-lg-3 col-6"  v-for="exam in exams" :key="exam.id">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h4>{{exam.exam_name}}</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>                   
                    <router-link :to="{ name: 'rotuine', params: {session: id, exam:exam.id } }" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
        

              </div>
              <!-- /.card-body -->
            </div>
            </div>

        </div>
    
</template>

<script>
    export default {
        props :[
            'id'
        ],
      data() {
        return {
          exams: {},
          info:{}
        }
      },

        methods: {

          loadexams(){
            axios.get('/exams').then(({ data }) => (this.exams = data));
          },

          loadinfo(){
              axios.get('/sessions/'+this.id).then(({ data }) => (this.info = data));
          }
            
        },

      created() {
        this.loadexams();
        this.loadinfo();
        Fire.$on('updatetable',()=>{
          this.loadexams();
        })
      }
    }
</script>
