<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Our Exam List</h3>
                
                <div class="card-tools">
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-success" @click="addexam">
                    <i class="fa fa-file"></i> &nbsp New Exam
                  </button>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>S.N</th>
                    <th>Exam Name</th>
                    <th>Action</th>
                  </tr>

                  <tr  v-for="exam in exams" :key="exam.id">
                    <td>{{exam.id}}</td>
                    <td>{{exam.exam_name}}</td>
                    <td>
                        <span class="badge bg-warning"  @click="editexam(exam)"><i class="fas fa-edit"></i></span>
                        <span class="badge bg-danger"  @click="deleteexam(exam.id)"><i class="fas fa-trash"></i></span>
                    </td>
                  </tr>


                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" id="addexam" tabindex="-1" role="dialog" aria-labelledby="addexamTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLongTitle">Add New Exam</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLongTitle">Update Exam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent= "editmode ? updateexam() : exammanager()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">
                      <div class="form-group">
                        <input v-model="form.exam_name" type="text" name="exam_name" id="exam_name"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('exam_name') }" placeholder="Enter Exam Name.">
                        <has-error :form="form" field="exam_name"></has-error>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" v-show="!editmode">Save</button>
                      <button type="submit" class="btn btn-success" v-show="editmode">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>


        </div>
    
</template>

<script>
    export default {
      data() {
        return {
          editmode : false,

          exams: {},
          form: new Form({
            id:'',
            exam_name : ''
          })
        }
      },

        methods: {

          addexam(){
            this.editmode = false;

            this.form.reset();
            $('#addexam').modal('show');
          },     

          editexam(exam){
            this.editmode = true;
            this.form.reset();
            this.form.fill(exam);
            $('#addexam').modal('show');
          },


          loadexams(){
            axios.get('/exams').then(({ data }) => (this.exams = data));
          },

          exammanager(){
            this.$Progress.start();
            this.form.post('/exams').then(()=>{
              Fire.$emit('updatetable');          
              $('#addexam').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Semester Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
          },

          updateexam(){
              this.$Progress.start();
              this.form.put('/exams/'+this.form.id).then(()=>{
                  Fire.$emit('updatetable');          
                  $('#addexam').modal('hide');
                  Toast.fire({
                    type: 'success',
                    title: 'Exam Name Updated.'
                  });              
                }).catch(()=>{
                  this.$Progress.fail();
                });
                  this.$Progress.finish();
          },

          

        deleteexam(id)
        {
              Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
              }).then((result) => {

                this.form.delete('/exams/'+id).then(()=>{
                   Fire.$emit('updatetable');          
                  if (result.value) {
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                  }
                })


            })
        },
            
        },

      created() {
        this.loadexams();
        Fire.$on('updatetable',()=>{
          this.loadexams();
        })
      }
    }
</script>
