<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{ourexam.exam_name}} Rotuien for {{oursession.batch.enrolled_year}}, {{oursession.semester.semester}}</h3>
                
                <div class="card-tools">
                  <button type="button" class="btn btn-success" @click="addexam">
                    <i class="fa fa-file"></i> &nbsp Add Exam Routine
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                  <table class="table table-hover">
                    <tbody><tr>
                      <th>S.N</th>
                      <th>Course</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>End Time</th> 
                      <th>Action</th>
                    </tr>

                    
                  <tr  v-for="myexam in examslist" :key="myexam.id">
                    <td>{{myexam.id}}</td>
                    <td>{{myexam.subject}}</td>
                    <td>{{myexam.date}}</td>
                    <td>{{myexam.start_time}}</td>
                    <td>{{myexam.end_time}}</td>
                    <td>
                      <span class="badge bg-primary" @click="editexam(myexam)"><i class="fas fa-edit"></i></span>
                      <span class="badge bg-danger"><i class="fas fa-trash"></i></span>
                      <router-link :to="{ name: 'marks', params: {session: session, exam:myexam.id} }" class="small-box-footer"><span class="badge bg-success"><i class="fas fa-check"></i></span></router-link>
                    </td>
                  </tr>

                  </tbody>
                </table>
            
              </div>
              <!-- /.card-body -->
            </div>
            </div>

          <!-- Modal -->
            <div class="modal fade" id="addexam" tabindex="-1" role="dialog" aria-labelledby="addexamTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="exampleModalLongTitle">Add Exam Schedule</h5>
                    <h5 class="modal-title" v-show="editmode" id="exampleModalLongTitle">Edit Exam Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form @submit.prevent="editmode ? updatetermexam() : posttermexam()" @keydown="form.onKeydown($event)">
                    <div class="modal-body">

                      
                        <div class="form-group">
                          <label for="course_id">Select Course</label>
                            <select v-model="form.course_id"  class="form-control" :class="{ 'is-invalid': form.errors.has('course_id') }" name="course_id" id="course_id">
                            
                              <option  v-for="course in courses" :key="course.id">{{course.id}}_{{course.subject}}</option>

                            </select>
                            <has-error :form="form" field="course_id"></has-error>
                        </div>


                      <div class="form-group">
                          <label for="date">Exam Date</label>
                        <input v-model="form.date" type="date" name="date" id="date"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('date') }">
                        <has-error :form="form" field="date"></has-error>
                      </div>


                      <div class="form-group">
                          <label for="start_time">Exam Start Time</label>
                        <input v-model="form.start_time" type="time" name="start_time" id="start_time"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('start_time') }">
                        <has-error :form="form" field="start_time"></has-error>
                      </div>


                      <div class="form-group">
                          <label for="end_time">Exam End Time</label>
                        <input v-model="form.end_time" type="time" name="end_time" id="end_time"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('end_time') }">
                        <has-error :form="form" field="end_time"></has-error>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" v-show="!editmode" class="btn btn-primary">Save</button>
                      <button type="submit" v-show="editmode" class="btn btn-success">Update</button>
                    
                    </div>
                  </form>
                </div>
              </div>
            </div>

            
        </div>
</template>

<script>
    export default {
      props:[
        'session','exam',
      ],
      data() {
        return {
          editmode: false,
          ourexam: {} ,
          oursession: {},
          courses:{},
          examslist:{},
          
          form: new Form({
            session_id: this.session,
            exam_id: this.exam,

            course_id:'', date:'', start_time:'', end_time:'',id:''

          })
        }
      },

      methods:{

          addexam(){
            this.editmode = false;
            this.form.reset();
            $('#addexam').modal('show');
          },

          editexam(myexam){
            this.editmode = true;
            this.form.reset();
            $('#addexam').modal('show');
            this.form.fill(myexam);
          },
          

       loadexam(){
        axios.get('/exams/'+this.exam).then(({ data }) => (this.ourexam = data));
        },


       loadsession()
       {
        axios.get('/sessions/'+this.session).then(({ data }) => (this.oursession = data));
        },

       loadcourse()
       {
        axios.get('/getsemcourse/'+this.session).then(({ data }) => (this.courses = data));
       },

      examsubjects(){
        axios.get('/examsubjects/'+this.session+'/'+this.exam).then(({ data }) => (this.examslist = data));
      },


        posttermexam()
        {
          this.$Progress.start();
          this.form.post('/examsroutine').then(()=>{
              Fire.$emit('updatetable');          
              $('#addexam').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'New Data Added'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
        },

        updatetermexam()
        {
          this.$Progress.start();
          this.form.put('/examsroutine/'+this.form.id).then(()=>{
              Fire.$emit('updatetable');          
              $('#addexam').modal('hide');
              Toast.fire({
                type: 'success',
                title: 'Exam Schedule Updated.'
              });              
            }).catch(()=>{
              this.$Progress.fail();
            });
              this.$Progress.finish();
        }

      },
        mounted() {
          this.loadexam();
          this.loadsession();
          this.loadcourse();
          this.examsubjects();

        Fire.$on('updatetable',()=>{
          this.examsubjects();
        })
        
        }
    }
</script>
