<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Section List for <b>{{info.batch.enrolled_year}}</b> batch <b>{{info.semester.semester}}</b> for <u>Subject:: {{course.subject}}</u></h3>
                
                <div class="card-tools">
        

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive pt-10">

              <div class="row">


                <div class="col-lg-3 col-6"  v-for="section in sections" :key="section.id">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h4>Section: {{section.section_name}}</h4>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>                 
                    <router-link :to="{ path: '/setmarks/'+session+'/'+section.id+'/'+course.id+'/'+exam}" class="small-box-footer">Set Marks <i class="fas fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
        

              </div>
              <!-- /.card-body -->
            </div>
            </div>

        </div>
    
</template>

<script>
    export default {
        props :[
            'session','exam'
        ],
      data() {
        return {
          sections: {},
          info:{},
          course:{}        }
      },

        methods: {

          loadsections(){
            axios.get('/getsection/'+this.session).then(({ data }) => (this.sections = data));
          },

          loadinfo(){
              axios.get('/sessions/'+this.session).then(({ data }) => (this.info = data));
          },

          loadcourse(){
              axios.get('/courses/'+this.exam).then(({ data }) => (this.course = data));
          }
            
        },

      created() {
        this.loadsections();
        this.loadinfo();
        this.loadcourse();
      }
    }
</script>
