<template> 
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Section List for <b>{{info.batch.enrolled_year}}</b> batch <b>{{info.semester.semester}}</b> for <u>Subject:: {{course.subject}}</u> <b>{{sections.section_name}} Section</b></h3>
                
                <div class="card-tools">
        

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive pt-0">
                  <!-- <form action="#"> -->

                <table class="table table-hover">
                  <tbody><tr>
                    <th>Subject Roll No</th>
                    <th>Name</th>
                    <th>Marks</th>
                  </tr>


                  <tr  v-for="student in students" :key="student.id">
                    <td>{{student.roll_no}}</td>
                    <td>{{student.person.fname}} {{student.person.mname}} {{student.person.lname}}</td>
                    <td>
                        
                      <div class="form-group">
                        <input type="text" name="markssetter[]" id="markssetter"
                          class="form-control" placeholder="Enter Marks.">
                        <has-error :form="form" field="markssetter"></has-error>
                      </div>
                    </td>
                    
                  </tr>



                </tbody>
            </table>
                  <!-- </form> -->


              <div class="row">


            </div>
        

              </div>
              <!-- /.card-body -->
            </div>
            </div>

        </div>
    
</template>

<script>
    export default {
        props :[
            'session','section','mycourse','exam'
        ],
      data() {
        return {
          sections: {},
          info:{},
          course:{},     
          students:{},
          markssetter:[],
        }
      },

        methods: {

          loadsection(){
            axios.get('/display/'+this.section).then(({ data }) => (this.sections = data));
          },

          loadinfo(){
              axios.get('/sessions/'+this.session).then(({ data }) => (this.info = data));
          },

          loadcourse(){
              axios.get('/courses/'+this.exam).then(({ data }) => (this.course = data));
          },
          
        loadstudent()
        {
            axios.get('/showsectionstd/'+this.section).then(({ data }) => (this.students = data));
            },
            
        },

      created() {
        this.loadstudent();
        this.loadsection();
        this.loadinfo();
        this.loadcourse();
      }
    }
</script>
