<template> 
    <div class="row mt-4">
          <div class="col-md-3">

            
          <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                     <router-link :to="{ name: 'studentinfo', params: {id:students.id } }">
                       
                    <img v-if="students.person.img" class="profile-user-img img-fluid img-circle" :src="'/'+students.person.img" alt="User profile picture">
                    <img v-else class="profile-user-img img-fluid img-circle" src="../../../public/img/user.jpg" alt="User profile picture">

                  </router-link>
                </div>

                <h3 class="profile-username text-center">{{students.person.fname}} {{students.person.mname}} {{students.person.lname}}</h3>

                <p class="text-muted text-center">{{students.batch.enrolled_year}}/{{students.id}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Section</b> <a class="float-right">{{students.section.section_name}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Contact</b> <a class="float-right">{{students.person.contact}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>E-mail</b> <a class="float-right">{{students.person.email}}</a>
                  </li>
                </ul>
                <router-link :to="{ name: 'studentmarks', params: {id:students.id } }" class="btn btn-primary btn-block">
                  <b>Marks</b>
                </router-link>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            

          <!-- <student-bar/> -->

          </div>

          <!-- /.col -->
          <div class="col-md-9">

            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <!-- <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">First Sem</a></li> -->

                  <li class="nav-item" v-for="semester in semesters" :key="semester.id" >
                      <p class="nav-link" @click="getseminfo(semester.id)">{{semester.semester}}</p>
                  </li>
                </ul>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                    <!-- /.tab-pane -->
                  <div class="active tab-pane" id="activity">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>S.N</th>
                                <th>Course</th>
                                <th v-for="exam in exams" :key="exam.id">{{exam.exam_name}}</th>
                            </tr>


                            <tr v-for="course in courses" :key="course.id">
                                <td>183</td>
                                <td>{{course.subject_code}}</td>
          
                                <td  v-for="exam in exams" :key="exam.id">
                                  <p v-for="mark in coursesnmarks" :key="mark.id">
                                    <span v-if="exam.id == mark.exam_id & mark.course_id == course.id">{{mark.marks}}</span>
                                  </p>
                        
                                </td>
                                
                            </tr>

                        </tbody>
                    </table>
                  </div>
                  <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.card-body -->

            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
</template>

<script>


    export default {
        props :[
            'id'
        ],
        data()
        {
            return{
                students:{},
                semesters:{},
                coursesnmarks:{},
                courses:{},
                exams:{},
            }
        },
        methods:{
            loaddetails(){
                 axios.get('/studentdetails/'+this.id).then(({ data }) => (this.students = data));
            },

            loadsemester(){
                 axios.get('/semesters').then(({ data }) => (this.semesters = data));
            },

            getseminfo(id){
                this.loadcourse(id);
                 axios.get('/getallmarks/'+this.id+'/'+id).then(({ data }) => (this.coursesnmarks = data));
            },

            loadcourse(id){
                 axios.get('/getmycourse/'+id).then(({ data }) => (this.courses = data));
            },

            loadexam(){
                 axios.get('/exams').then(({ data }) => (this.exams = data));
            }
        },

        components:{
          // StudentBar
        },

        mounted() {
            console.log('Component mounted.')
            this.loaddetails();
            this.loadsemester();
            this.loadexam();

        }
    }

</script>
